<!DOCTYPE html>
<!--W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉-->
<html lang="en">
    <head>
        <!-- PAGE TITLE -->
        <title> System requirements | Thronefall wiki</title>
        <!-- PAGE INFORMATION -->
		<meta name="description" content="System requirements to play Thronefall">
		<meta name="keywords"    content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name='author'      content="GhostMiner, ItsMeRaven"> 
		<meta name='robots'      content="index,follow">
		<meta name="language"    content="en">

        <link rel="shortcut icon" type="image/png" href="/assets/images/crown.png"> <!-- Tab icon-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Responsive design-->
        <meta charset="utf-8"> <!-- Chatracter set-->
       
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
        <!-- BOOTSTRAP 5 -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

        <!-- STYLESHEETS -->
        <link rel="stylesheet" href="/assets/styles/global.css">
        <link rel="stylesheet" href="/assets/styles/headfoot.css">
        <link rel="stylesheet" href="/assets/styles/navigation.css">
        <link rel="stylesheet" href="/assets/styles/pages/sysReq.css">
    </head>

    <body>
        <div id="mainContainerBackground" class="roundCorners5px boxShadow1">
            <div id="mainContainerForeground">
                <div id="sidebarContainer">
                    <!-- Website title and logo -->
                    <div id="websiteHeader" hx-get="/assets/parts/header.html" hx-swap="innerHTML" hx-trigger="load"></div> 
                    <hr>
                    <!-- Website navigation -->
                    <div id="navigation" hx-get="/assets/parts/nav.html" hx-swap="innerHTML" hx-trigger="load"></div>
                </div> <!-- sidebarContainer -->
                <div id="contentContainer" class="roundCorners5px boxShadow032"> 
                    <main>
                        <span class="pageTitle"> System requirements </span>
                        <hr class="pageTitleUnderline">
                        
                        <p>Currently, Thronefall can only be played on Windows and macOS. This is why there are only system requirements for these 2 operating systems.</p>
                        <p>These requirements have been taken from <a href="https://store.steampowered.com/app/2239150/Thronefall/">Thronefall's Steam page</a>.</p>
                        <br>
                        <div id="sysReqColumns">
                            <div>
                                <span class="pageSubtitle">Windows</span>
                                <hr>
                                <ul>
                                    <li>Requires a 64-bit processor and operating system</li>
                                    <li><strong>OS</strong>: Windows 10</li>
                                    <li><strong>Processor</strong>: Intel® Core™ i5-9600</li>
                                    <li><strong>Memory</strong>: 4 GB RAM</li>
                                    <li><strong>Graphics</strong>: Nvidia GeForce GTX970</li>
                                    <li><strong>Storage</strong>: 300 MB of available space</li>
                                    <li><strong>Sound Card</strong>: Just whistle your favourite tune :)</li>
                                </ul>
                            </div>
                            <div>
                                <span class="pageSubtitle">macOS</span>
                                <hr>
                                <ul>
                                    <li><strong>OS</strong>: macOS Ventura or later</li>
                                    <li><strong>Processor</strong>: M1 or Intel® equivalent</li>
                                    <li><strong>Memory</strong>: 4 GB RAM</li>
                                    <li><strong>Graphics</strong>: M1 or Intel® equivalent</li>
                                    <li><strong>Storage</strong>: 1 GB of available space</li>
                                    <li><strong>Sound Card</strong>: Just whistle your favourite tune :)</li>
                                </ul>
                            </div>
                        </div>
                    </main>
                </div> <!-- contentContainer -->
            </div> <!-- mainContainerForeground -->
            
            <!-- Website footer -->
            <div id="footerContent" hx-get="/assets/parts/footer.html" hx-swap="innerHTML" hx-trigger="load"></div>
        </div> <!-- mainContainerBackground -->

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    </body>
</html>