a, a:link, a:visited
{
    color: var(--orangeForDark);
    text-decoration: none;
}

hr
{
    background-color: grey;
}
.table
{
    background: #2a2a2a;
    color:white;
}
.table-light
{
    background-color: hsl(0, 0%, 70%);
}

#mainContainerBackground
{
    background-color: var(--mainContainerColourDark);
    color: white;
}
#contentContainer
{
    background-color: var(--contentContainerColourDark);
}

#websiteTitle, .navItem:link, .navItem:visited, .navItem
{
    color: white;
}

.suggestedPageItemContainer
{
    color: white;
    background-color: var(--buttonColourDark);
}

.homeContainer, .galleryGrid, .articleImageBackgroundDiv, #contentsListDiv, .listLargeItemDiv, .listMediumItemDiv, .listSmallItemDiv, .codeBlock
{
    background-color: var(--smallBoxBgrColourDark);
    backdrop-filter: blur(8px);
}

.boxShadow1
{
    box-shadow: 1px 1px 8px rgba(255,255,255,1);
}
.boxShadow032
{
    box-shadow: 1px 1px 8px rgba(255,255,255,0.32);
}
.boxShadow04
{   
    box-shadow: 1px 1px 8px rgba(255,255,255,0.4);
}