<!DOCTYPE html>
<!--W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉-->
<html lang="en">
	<head>
		<!-- PAGE TITLE -->
		<title> Archer | Thronefall wiki</title>
		<!-- PAGE INFORMATION -->
		<meta name="description" content="Details about the Archer enemy.">
		<meta name="keywords"    content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name='author'      content="GhostMiner, ItsMeRaven"> 
		<meta name='robots'      content="index,follow">
		<meta name="language"    content="en">

		<link rel="shortcut icon" type="image/png" href="/assets/images/crown.png"> <!-- Tab icon-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Responsive design-->
		<meta charset="utf-8"> <!-- Chatracter set-->

		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
		<!-- BOOTSTRAP 5 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="/assets/styles/global.css">
		<link rel="stylesheet" href="/assets/styles/headfoot.css">
		<link rel="stylesheet" href="/assets/styles/navigation.css">
		<link rel="stylesheet" href="/assets/styles/layouts/article.css">
		<!-- Contents menu scriptx -->
		<script src="/assets/scripts/contentsMenu.js"></script>
	</head>

	<body>
		<div id="mainContainerBackground" class="roundCorners5px boxShadow1">
			<div id="mainContainerForeground">
				<div id="sidebarContainer">
					<!-- Website title and logo -->
					<div id="websiteHeader" hx-get="/assets/parts/header.html" hx-swap="innerHTML" hx-trigger="load"></div> 
					<hr>
					<!-- Website navigation -->
					<div id="navigation" hx-get="/assets/parts/nav.html" hx-swap="innerHTML" hx-trigger="load"></div>
				</div> <!-- sidebarContainer -->
				<div id="contentContainer" class="roundCorners5px boxShadow032">
					<main>

						<span class="pageTitle"> Archer </span>
						<hr class="pageTitleUnderline">
						
						<div class="articleColumnsContainer">
						<!-- 
						    LEFT COLUMN
						-->
						    <div class="articleContent">
								<article id="General">
								    <span class="pageSubtitle">General</span>
								    <hr>
								    <p>Archers are a basic ranged unit in Thronefall. Introduced in the tutorial, they can be encountered everywhere in the kingdom of Thronefall.<br></p>
								</article> <!-- mapOverview -->

								<br>
								<article id="Description">
								    <span class="pageSubtitle"> Description </span>
								    <hr>
								    <p>Archer shoot arrows from afar. Quite strong when left uncontested. Weak against buildings and towers.</p>
								</article> <!-- mapComposition -->

								<br>
								<article id="Characteristics">
								    <span class="pageSubtitle"> Characteristics </span>
								    <hr>
								    <div class="table-responsive">
										<table class="table  table-striped table-bordered">
										    <thead class="tableHeader table-dark">
												<tr>
												    <th class="align-middle">
														Category
												    </th>
												    <th class="align-middle">
														Info
												    </th>
												</tr>
										    </thead>
										    <tbody class="tableBody">
												<tr>
												    <td class="align-middle">Name</td>
												    <td class="align-middle">Archer</td>
												</tr>
												<tr>
												    <td class="align-middle">Icon</td>
												    <td class="align-middle">
														<img src="/assets/images/icons/enemies/Archer.png" alt="image of the reward" class="tableImage50px">
												    </td>
												</tr>
												<tr>
												    <td class="align-middle">Unit Type</td>
												    <td class="align-middle">Ranged, Tower Vulnerable</td>
												</tr>
												<tr>
												    <td class="align-middle">Preferred Target</td>
												    <td class="align-middle">None</td>
												</tr>
												<tr>
												    <td class="align-middle">Targets Player</td>
												    <td class="align-middle">When hit</td>
												</tr>
										    </tbody>
										</table>
								    </div>
								</article> 

								<br>
								<article id="Details">
								    <span class="pageSubtitle"> Details </span>
								    <hr>
								    <article id="AttackStatistics">
										<span class="pageSubtitleSmall"> Attack Statistics </span>
										<br>
										<div class="table-responsive">
										    <table class="table  table-striped table-bordered">
												<thead class="tableHeader table-dark">
												    <tr>
														<th class="align-middle">
														    Statistic
														</th>
														<th class="align-middle">
														    Value
														</th>
												    </tr>
												</thead>
												<tbody class="tableBody">
												    <tr>
														<td class="align-middle">Attacks per second</td>
														<td class="align-middle">0.5</td>
												    </tr>
												    <tr>
														<td class="align-middle">Attack Range</td>
														<td class="align-middle">40 (Ranged)</td>
												    </tr>
												    <tr>
														<td class="align-middle">Projectile Speed</td>
														<td class="align-middle">20</td>
												    </tr>
												    <tr>
														<td class="align-middle">Base Damage</td>
														<td class="align-middle">4</td>
												    </tr>
												    <tr>
														<td class="align-middle">Damage vs. Flying</td>
														<td class="align-middle">x1.2</td>
												    </tr>
												    <tr>
														<td class="align-middle">Damage vs. Ranged Resistant</td>
														<td class="align-middle">x0.5</td>
												    </tr>
												    <tr>
														<td class="align-middle">Damage vs. Ranged Vulnerable</td>
														<td class="align-middle">x1.5</td>
												    </tr>
												    <tr>
														<td class="align-middle">Chase King Time</td>
														<td class="align-middle">5s</td>
												    </tr>
												</tbody>
										    </table>
										</div>
										<p>The damage dealt is calculated with this formula: <span class="codeBlock"> Base Damage &times; Type Value 1 &times; Type Value 2 &times; ... &times; Type Value n</span>, where n is the amount of types that the target has (all types that are not provided in the table above have a Value of 1).</p>
								    </article> 

								    <br>
								    <article id="DefenseStatistics">
										<span class="pageSubtitleSmall"> Defense statistics </span>
										<br>
										<div class="table-responsive">
										    <table class="table  table-striped table-bordered">
												<thead class="tableHeader table-dark">
												    <tr>
														<th class="align-middle">
														    Statistic
														</th>
														<th class="align-middle">
														    Value
														</th>
												    </tr>
												</thead>
												<tbody class="tableBody">
												    <tr>
														<td class="align-middle">Health Points</td>
														<td class="align-middle">20</td>
												    </tr>
												    <tr>
														<td class="align-middle">Movement Speed</td>
														<td class="align-middle">5</td>
												    </tr>
												</tbody>
										    </table>
										</div>
								    </article> 
								    
								    <br>
								    <article id="EternalTrialStats">
										<span class="pageSubtitleSmall"> eternal trials Stats  </span>
										<br>

										<div class="table-responsive">
										    <table class="table  table-striped table-bordered">
												<thead class="tableHeader table-dark">
												    <tr>
														<th class="align-middle">
														    Statistic
														</th>
														<th class="align-middle">
														    Value
														</th>
												    </tr>
												</thead>
												<tbody class="tableBody">
												    <tr>
														<td class="align-middle">Difficulty Budget</td>
														<td class="align-middle">1.6</td>
												    </tr>
												    <tr>
														<td class="align-middle">Gold Limit</td>
														<td class="align-middle">0</td>
												    </tr>
												</tbody>
										    </table>
										</div>
								    </article> 
								</article> 
						    </div> <!-- articleContent -->

						    <!-- 
								RIGHT COLUMN
						    -->
						    <div class="articleSidebar">
								<!-- <section id="contentsBox" hx-get="/assets/parts/contents/enemies.html" hx-swap="outerHTML" hx-trigger="load"></section> -->
						    
								<div class="articleImageBackgroundDiv boxShadow04">
								    <a href="/assets/images/enemies/archer.png" target="_blank" target="_blank" class="articleImageLink">
										<img class="articleImage" src="/assets/images/enemies/archer.png" alt="Image of the archer" >
								    </a>
								    <br>
								    <span class="articleImageTitle">
										An Archer in-game.
								    </span>
								</div>
						    </div> <!-- articleSidebar -->
						</div> <!-- articleColumnsContainer -->

				    </main>
				</div> <!-- contentContainer -->				
		    </div> <!-- mainContainerForeground -->
		    
		    <!-- Website footer -->
		    <div id="footerContent" hx-get="/assets/parts/footer.html" hx-swap="innerHTML" hx-trigger="load"></div>
		</div> <!-- mainContainerBackground -->

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    </body>
</html>