<!DOCTYPE html>
<!--W H A T   A R E   Y O U   D O I N G   I N   M Y   C O D E ? ! 
	
			⢀⡴⠑⡄⠀⠀⠀⠀⠀⠀⠀⣀⣀⣤⣤⣤⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠸⡇⠀⠿⡀⠀⠀⠀⣀⡴⢿⣿⣿⣿⣿⣿⣿⣿⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠑⢄⣠⠾⠁⣀⣄⡈⠙⣿⣿⣿⣿⣿⣿⣿⣿⣆⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⢀⡀⠁⠀⠀⠈⠙⠛⠂⠈⣿⣿⣿⣿⣿⠿⡿⢿⣆⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⢀⡾⣁⣀⠀⠴⠂⠙⣗⡀⠀⢻⣿⣿⠭⢤⣴⣦⣤⣹⠀⠀⠀⢀⢴⣶⣆ 
			⠀⠀⢀⣾⣿⣿⣿⣷⣮⣽⣾⣿⣥⣴⣿⣿⡿⢂⠔⢚⡿⢿⣿⣦⣴⣾⠁⠸⣼⡿ 
			⠀⢀⡞⠁⠙⠻⠿⠟⠉⠀⠛⢹⣿⣿⣿⣿⣿⣌⢤⣼⣿⣾⣿⡟⠉⠀⠀⠀⠀⠀ 
			⠀⣾⣷⣶⠇⠀⠀⣤⣄⣀⡀⠈⠻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠉⠈⠉⠀⠀⢦⡈⢻⣿⣿⣿⣶⣶⣶⣶⣤⣽⡹⣿⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠉⠲⣽⡻⢿⣿⣿⣿⣿⣿⣿⣷⣜⣿⣿⣿⡇⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⣿⣷⣶⣮⣭⣽⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⣀⣀⣈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠇⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀ 
			⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠛⠻⠿⠿⠿⠿⠛⠉-->
<html lang="en">
    <head>
		<!-- PAGE TITLE -->
		<title>Maps | Thronefall wiki</title>
		<!-- PAGE INFORMATION -->
		<meta name="description" content="A list of all available maps (levels) in Thronefall.">
		<meta name="keywords"    content="Thronefall, leaderBoard, grizzly games, speedrun, wiki, fandom">
		<meta name='author'      content="GhostMiner, ItsMeRaven"> 
		<meta name='robots'      content="index,follow">
		<meta name="language"    content="en">

		<link rel="shortcut icon" type="image/png" href="/assets/images/crown.png"> <!-- Tab icon-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">  <!-- Responsive design-->
		<meta charset="utf-8"> <!-- Chatracter set-->

		<!-- HTMX -->
		<script src="https://unpkg.com/htmx.org@1.9.4" integrity="sha384-zUfuhFKKZCbHTY6aRR46gxiqszMk5tcHjsVFxnUo8VMus4kHGVdIYVbOYYNlKmHV" crossorigin="anonymous"></script>
		<!-- BOOTSTRAP 5 -->
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

		<!-- STYLESHEETS -->
		<link rel="stylesheet" href="/assets/styles/global.css">
		<link rel="stylesheet" href="/assets/styles/headfoot.css">
		<link rel="stylesheet" href="/assets/styles/navigation.css">
		<link rel="stylesheet" href="/assets/styles/animations.css">
		<link rel="stylesheet" href="/assets/styles/layouts/listLarge.css">
    </head>

    <body>
		<div id="mainContainerBackground" class="roundCorners5px boxShadow1">
		    <div id="mainContainerForeground">
				<div id="sidebarContainer">
				    <!-- Website title and logo -->
				    <div id="websiteHeader" hx-get="/assets/parts/header.html" hx-swap="innerHTML" hx-trigger="load"></div>   <hr>
				    <!-- Website navigation -->
				    <div id="navigation" hx-get="/assets/parts/nav.html" hx-swap="innerHTML" hx-trigger="load"></div>
				</div> <!-- sidebarContainer -->
				<div id="contentContainer" class="roundCorners5px boxShadow032"> 
				    <main>
						<span class="pageTitle"> Maps </span>
						<hr class="pageTitleUnderline">
						
						<div id="listLargeMainDiv">				       
						    <!-- NEULAND -->
						    <div class="listLargeItemDiv">
								<div class="listLargeImageDiv">
								    <a href="./neuland.html">
										<img class="listLargeImage" id="listLargeImageNeuland" src="/assets/images/maps/neuland/neuland_empty.png">
								    </a>
								</div>
								<div class="listLargeTextDiv">
								    <span class="listLargeTextTitle">
										<a href="./neuland.html" class="mapLitstTextTitleLink">
										    Neuland
										</a>
								    </span>
								    <br>
								    <span class="listLargeTextDetails">
										Neuland (German for "New Land") is the Tutorial of Thronefall. <br>
										It teaches the Player basic mechanics like attacking, building and upgrading. <br>
										Neuland is the easiest map of the game. As a tutorial, it has only one enemy spawning point located in the west. 
								    </span>
								</div>
						    </div>
						    <!-- NORDFELS -->
						    <div class="listLargeItemDiv">
								<div class="listLargeImageDiv">
								    <a href="./nordfels.html">
										<img class="listLargeImage" id="listLargeImageNordfels" src="/assets/images/maps/nordfels/nordfels_empty.png">
								    </a>
								</div>
								<div class="listLargeTextDiv">
								    <span class="listLargeTextTitle">
										<a href="./nordfels.html" class="mapLitstTextTitleLink">
										    Nordfels
										</a>
								    </span>
								    <br>
								    <span class="listLargeTextDetails">
										Nordfels (German for "North rock") is the first map of Thronefall after the tutorial.<br>
										The map features a large mountain range in the north and a U-shaped river to define the mapborder.<br>
										Enemy units spawn from the north-east, east, south-east, south, and the west of the castle with the west, south and northeast of the castle only spawning flying units.
								    </span>
								</div>
						    </div>
						    <!-- DURSTSTEIN -->
						    <div class="listLargeItemDiv">
								<div class="listLargeImageDiv">
								    <a href="./durststein.html">
										<img class="listLargeImage" id="listLargeImageDurststein" src="/assets/images/maps/durststein/durststein_empty_clean.png">
								    </a>
								</div>
								<div class="listLargeTextDiv">
								    <span class="listLargeTextTitle">
										<a href="./durststein.html" class="mapLitstTextTitleLink">
										    Durststein
										</a>
								    </span>
								    <br>
								    <span class="listLargeTextDetails">
										Durststein (German for "Thirst Stone") is the third map in the game.<br>
										The map features a desert design, 2 new buildings and 2 new enemies. It is also the map with the largest amount of starting money. 
										This map features wide open areas and plenty of ramps and vantage points for ranged units to shoot from.
								    </span>
								</div>
						    </div>				
						    <!-- FROSTSEE -->
						    <div class="listLargeItemDiv">
								<div class="listLargeImageDiv">
								    <a href="./frostsee.html">
										<img class="listLargeImage" id="listLargeImageFrostsee" src="/assets/images/maps/frostsee/frostsee_empty_clean.png">
								    </a>
								</div>
								<div class="listLargeTextDiv">
								    <span class="listLargeTextTitle">
										<a href="./frostsee.html" class="mapLitstTextTitleLink">
										    Frostsee
										</a>
								    </span>
								    <br>
								    <span class="listLargeTextDetails">
										Frostsee (German for "Frost lake") is the fourth map in the game. <br>
										The map features a snowy tundra design, 2 new buildings, 4 new enemies and a boss. It is also the currently hardest map playable. 
										This map features wide open areas, a few lakes and a buildable outpost. 
								    </span>
								</div>
						    </div>
						    <!-- UFERWIND -->
						    <div class="listLargeItemDiv">
								<div class="listLargeImageDiv">
								    <a href="./uferwind.html">
										<img class="listLargeImage" id="listLargeImageUferwind" src="/assets/images/maps/uferwind/uferwind_clean.png">
								    </a>
								</div>
								<div class="listLargeTextDiv">
								    <span class="listLargeTextTitle">
										<a href="./uferwind.html" class="mapLitstTextTitleLink">
										    Uferwind
										</a>
								    </span>
								    <br>
								    <span class="listLargeTextDetails">
										With its rugged shoreline to one side and vast open grasslands to the other it offers a challenge unlike any of the maps before. <br>
										 Right from the start you'll have quite a bit of gold and many building options on your hand, allowing you to explore a variety of different approaches. 
								    </span>
								</div>
						    </div>
						    <!-- STURMKLAM -->
						    <div class="listLargeItemDiv">
								<div class="listLargeImageDiv">
								    <a href="./sturmklamm.html">
										<img class="listLargeImage" id="listLargeImageSturmklamm" src="/assets/images/maps/sturmklamm/sturmklamm_empty.png">
								    </a>
								</div>
								<div class="listLargeTextDiv">
								    <span class="listLargeTextTitle">
										<a href="./sturmklamm.html" class="mapLitstTextTitleLink">
										    Sturmklamm
										</a>
								    </span>
								    <br>
								    <span class="listLargeTextDetails">
										The map features a mountain design, 2 new buildings, 3 new enemies and a new boss. It is also the first map with ambient effects (rain).<br>
										This map features many slim corridors and paths up a hill, on which your castle center stands.  In the south are 4 bridges, which represent the 4 spawnpoints of ground enemies.
								    </span>
								</div>
						    </div>
						</div>
				    </main>
				</div> <!-- contentContainer -->				
		    </div> <!-- mainContainerForeground -->
		    
		    <!-- Website footer -->
		    <div id="footerContent" hx-get="/assets/parts/footer.html" hx-swap="innerHTML" hx-trigger="load"></div>
		</div> <!-- mainContainerBackground -->

		<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    
    </body>
</html>